**/__pycache__
**/.mypy_cache
output*/
run.py
papers.db
**/node_modules
**/dist
backend/scripts/
chroma_db_backup/*
chroma_db/*
*.md
技术-assets/
技术.md
技术.pdf
*.db
.aider*
.env
.env
backend/.venv/*
.DS_Store
models/*
backend/database/app.db
chroma_db/*
